<footer>
  <div class="uui-footer">
    <div class="footer-logo-copyright">
      <p class="copyright">© 2018 EPAM Systems. All Rights Reserved.</p>
    </div>
    <div class="footer-build">
      <p class="build">Build version v <span>2.0.0.1</span></p>
    </div>
  </div>
</footer>