<div class="metadata">
  <label>
    <textarea class="uui-form-element" rows="5" cols="7" ng-model="$ctrl.textModel"></textarea>
  </label>
  <br/>
  <button class="button green_lime" ng-click="$ctrl.changeMetadata({metadata: $ctrl.textModel})">Save</button>
</div>
