@import '../styles/fonts.less';

.app {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: @Arial;
}

body {
    margin: 0;
}

.main_part {
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.center-block {
    justify-self: center;
}
