<div class="app">
  <header-component
      add-document-callback="$ctrl.addDocumentCallback(name)"
      add-node-callback="$ctrl.addNodeCallback(name)"
      update-node-callback="$ctrl.updateNodeCallback(name)"
      delete-node-callback="$ctrl.deleteNodeCallback(node)"
      current-node="$ctrl.currentNode"
  >
  </header-component>
  <div class="main_part">
    <tree-list class="center-block"
               roots="$ctrl.roots"
               documents="$ctrl.documents"
               current-node="$ctrl.currentNode"
               change-current-node-callback="$ctrl.changeCurrentNodeCallback(nodeId)">

    </tree-list>
    <node-metadata metadata="$ctrl.currentNode.metadata"
                   change-metadata="$ctrl.changeMetadataCallback(metadata)"
    >
    </node-metadata>
  </div>
  <footer-component></footer-component>
  <toast></toast>
</div>
